<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.AdvertisementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.Advertisement">
        <id column="ID" property="id" />
        <result column="PATH" property="path" />
        <result column="URL_PATH" property="urlPath" />
        <result column="EQUIP_TYPE" property="equipType" />
        <result column="SORT" property="sort" />
        <result column="DISABLED" property="disabled" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATER_ID" property="createrId" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATER_ID" property="updaterId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`PATH`          ,`URL_PATH`          ,`EQUIP_TYPE`          ,`SORT`          ,`DISABLED`          ,`CREATE_TIME`          ,`CREATER_ID`          ,`UPDATE_TIME`          ,`UPDATER_ID`
    </sql>

  <resultMap id="AdvertisementVo" type="com.ljwm.gecko.base.model.vo.AdvertisementVo" extends="BaseResultMap"/>

  <select id="find" parameterType="java.util.Map" resultMap="AdvertisementVo">
    SELECT <include refid="Base_Column_List"/>
    FROM `t_advertisement`
    <where>
      <if test="params.text != null and params.text != ''">
        AND (
        `PATH` LIKE CONCAT('%',#{params.text},'%')
        OR `URL_PATH` LIKE  CONCAT('%',#{params.text},'%')
        OR `EQUIP_TYPE` = #{params.text}
        )
      </if>
      <if test="params.disabled != null and params.disabled != ''">
        AND `DISABLED` = #{params.disabled}
      </if>
      <if test="params.equipType != null and params.equipType != ''">
        AND
      </if>
    </where>
    ORDER BY `EQUIP_TYPE`
    <if test="params.asc">
      ASC
    </if>
    <if test="!params.asc">
      DESC
    </if>
  </select>

</mapper>
