<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.AttendanceTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.AttendanceTemplate">
        <id column="ID" property="id" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="ATTRIBUTE_ID" property="attributeId" />
        <result column="SORT" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`COMPANY_ID`          ,`ATTRIBUTE_ID`          ,`SORT`
    </sql>

</mapper>
