<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.CalTaxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.CalTax">
        <result column="GUEST_ID" property="guestId" />
        <result column="REGION_CODE" property="regionCode" />
        <result column="MONEY" property="money" />
        <result column="OLD_TAX" property="oldTax" />
        <result column="NEW_TAX" property="newTax" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `GUEST_ID`          ,`REGION_CODE`          ,`MONEY`          ,`OLD_TAX`          ,`NEW_TAX`          ,`CREATE_TIME`          ,`UPDATE_TIME`
    </sql>

</mapper>
