<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.CityItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.CityItem">
        <id column="ID" property="id" />
        <result column="ITEM_TYPE" property="itemType" />
        <result column="REGION_CODE" property="regionCode" />
        <result column="UPPER_LIMIT" property="upperLimit" />
        <result column="LOWER_LIMIT" property="lowerLimit" />
        <result column="COMPANY_PER" property="companyPer" />
        <result column="PERSON_PER" property="personPer" />
        <result column="PER_TYPE" property="perType" />
        <result column="SORT" property="sort" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATOR" property="creator" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATER_ID" property="updaterId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`ITEM_TYPE`          ,`REGION_CODE`          ,`UPPER_LIMIT`          ,`LOWER_LIMIT`          ,`COMPANY_PER`          ,`PERSON_PER`          ,`PER_TYPE`          ,`SORT`          ,`CREATE_TIME`          ,`CREATOR`          ,`UPDATE_TIME`          ,`UPDATER_ID`
    </sql>

  <resultMap id="RateVo" type="com.ljwm.gecko.base.model.vo.RateVo" extends="BaseResultMap">
    <result column="NAME" property="typeName" />
    <association property="deleteAble" column="ID" select="com.ljwm.gecko.base.mapper.CityItemMapper.deleteAble"/>
  </resultMap>

  <select id="deleteAble" parameterType="java.lang.Long" resultType="java.lang.Boolean">
  <![CDATA[

        SELECT IF(CONVERT(GROUP_CONCAT(`res` SEPARATOR ''),SIGNED)>=1,0,1) AS res
        FROM (
            SELECT IF(COUNT(`ID`)>=1,1,0) AS res FROM `t_function` WHERE `ID` IN (SELECT DISTINCT(PARENT_ID) FROM `t_function` WHERE `PARENT_ID` IS NOT NULL) AND `ID`=#{id}
            UNION
            SELECT IF(COUNT(`FUNCTION_ID`)>=1,1,0) AS res FROM `t_role_function` WHERE `FUNCTION_ID`=#{id}
            ) AS temp

    ]]>
</select>
</mapper>
