<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.CompanyUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.CompanyUser">
        <id column="ID" property="id" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="MEMBER_ID" property="memberId" />
        <result column="ROLES_CODE" property="rolesCode" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="DISABLED" property="disabled" />
        <result column="ACTIVATED" property="activated" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`COMPANY_ID`          ,`MEMBER_ID`          ,`ROLES_CODE`          ,`CREATE_TIME`          ,`UPDATE_TIME`          ,`DISABLED`          ,`ACTIVATED`
    </sql>

    <resultMap id="CompanyUserVo" type="com.ljwm.gecko.base.model.vo.admin.CompanyUserVo" extends="BaseResultMap">
      <result column="NICK_NAME" property="nickName"/>
      <result column="REG_MOBILE" property="regMobile"/>
      <result column="AVATAR_PATH" property="avatarPath"/>
      <result column="MEMBER_IDCARD" property="memberIdCard"/>
      <result column="memberDisabled" property="memberDisabled"/>
    </resultMap>


  <resultMap id="EmployeeVo" type="com.ljwm.gecko.base.model.vo.EmployeeVo">
    <result column="MEMBER_ID" property="memberId"/>
    <result column="COMPANY_USER_ID" property="companyUserId"/>
    <result column="JOB_NUM" property="jobNum"/>
    <result column="CERTIFICATE" property="certType"/>
    <result column="CERT_NUM" property="certNum"/>
    <result column="NAME" property="name"/>
  </resultMap>

</mapper>
