<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.CompanyMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.Company">
    <id column="ID" property="id"/>
    <result column="NAME" property="name"/>
    <result column="TYPE" property="type"/>
    <result column="CREATE_TIME" property="createTime"/>
    <result column="VALIDATE_STATE" property="validateState"/>
    <result column="DISABLED" property="disabled"/>
    <result column="PHONE_NUM" property="phoneNum"/>
    <result column="CODE" property="code"/>
    <result column="CREATER_ID" property="createrId"/>
    <result column="PIC_PATH" property="picPath"/>
    <result column="VALIDATOR_ID" property="validatorId"/>
    <result column="VALIDATE_TIME" property="validateTime"/>
    <result column="UPDATE_TIME" property="updateTime"/>
    <result column="VALIDATE_TEXT" property="validateText"/>
    <result column="PROV_CODE" property="provCode"/>
    <result column="CITY_CODE" property="cityCode"/>
    <result column="AREA_CODE" property="areaCode"/>
    <result column="ADDRESS" property="address"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
          `ID`          ,`NAME`          ,`TYPE`          ,`CREATE_TIME`          ,`VALIDATE_STATE`          ,`DISABLED`          ,`PHONE_NUM`          ,`CODE`          ,`CREATER_ID`          ,`PIC_PATH`          ,`VALIDATOR_ID`          ,`VALIDATE_TIME`          ,`UPDATE_TIME`          ,`VALIDATE_TEXT`          ,`PROV_CODE`          ,`CITY_CODE`          ,`AREA_CODE`          ,`ADDRESS`
    </sql>

  <resultMap id="UnValidateCompanyVo" type="com.ljwm.gecko.base.model.vo.UnValidateCompanyVo">
  </resultMap>

  <resultMap id="AdminCompanyDto" type="com.ljwm.gecko.base.model.dto.AdminCompanyDto" extends="BaseResultMap">
    <association property="location" column="AREA_CODE"
                 select="com.ljwm.gecko.base.mapper.LocationMapper.getLocationByArea"/>
    <association property="validator" column="VALIDATOR_ID" select="com.ljwm.gecko.base.mapper.AdminMapper.selectById"/>
    <collection property="companyUsers" column="ID"
                select="com.ljwm.gecko.base.mapper.CompanyUserMapper.findCompanyUser"/>
  </resultMap>

  <select id="find" resultMap="AdminCompanyDto">
    SELECT
    <include refid="Base_Column_List"/>
    FROM `t_company`
    <where>
      <if test="params.text != null and params.text != ''">
        AND (
        `NAME` LIKE CONCAT('%',#{params.text},'%')
        )
      </if>
      <if test="params.validateStatus != null">
        AND (
        `VALIDATE_STATE`=#{params.validateStatus}
        )
      </if>
    </where>
    ORDER BY `UPDATE_TIME`
    <if test="params.asc">
      ASC
    </if>
    <if test="!params.asc">
      DESC
    </if>
  </select>
</mapper>
