<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.FormIdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.FormId">
        <id column="ID" property="id" />
        <result column="FORM_ID" property="formId" />
        <result column="MEMBER_ID" property="memberId" />
        <result column="STATUS" property="status" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`FORM_ID`          ,`MEMBER_ID`          ,`STATUS`          ,`CREATE_TIME`
    </sql>

</mapper>
