<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.FunctionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.Function">
        <id column="ID" property="id" />
        <result column="PARENT_ID" property="parentId" />
        <result column="NAME" property="name" />
        <result column="TITLE" property="title" />
        <result column="DESCRIPTION" property="description" />
        <result column="ICON" property="icon" />
        <result column="URL" property="url" />
        <result column="SORT" property="sort" />
        <result column="IS_SHOW" property="isShow" />
        <result column="DISABLED" property="disabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`PARENT_ID`          ,`NAME`          ,`TITLE`          ,`DESCRIPTION`          ,`ICON`          ,`URL`          ,`SORT`          ,`IS_SHOW`          ,`DISABLED`
    </sql>


  <resultMap id="FunctionDto" type="com.ljwm.gecko.base.model.dto.FunctionDto" extends="BaseResultMap">
    <association property="parent" column="PARENT_ID" select="com.ljwm.gecko.base.mapper.FunctionMapper.findById"/>
    <collection property="children" column="ID"
                select="com.ljwm.gecko.base.mapper.FunctionMapper.findChildrenByFunctionId"/>
  </resultMap>

  <resultMap id="FunctionVo" type="com.ljwm.gecko.base.model.vo.FunctionVo" extends="BaseResultMap">
    <association property="deleteAble" column="ID" select="com.ljwm.gecko.base.mapper.FunctionMapper.deleteAble"/>
    <collection property="children" column="ID"
                select="com.ljwm.gecko.base.mapper.FunctionMapper.findChildrenTreeByParentId"/>
  </resultMap>

  <resultMap id="FunctionTree" type="com.ljwm.gecko.base.model.vo.FunctionTree" extends="BaseResultMap">
    <association property="deleteAble" column="ID" select="com.ljwm.gecko.base.mapper.FunctionMapper.deleteAble"/>
    <collection property="children" column="ID"
                select="com.ljwm.gecko.base.mapper.FunctionMapper.findChildrenTreeByParentId"/>
  </resultMap>

  <select id="tree" resultMap="FunctionTree" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    FROM `t_function` WHERE `PARENT_ID` IS NULL OR `PARENT_ID`= -1
    <if test="text != null and text != ''">
      AND (
      `NAME` LIKE CONCAT('%',#{text},'%')
      OR `TITLE` LIKE CONCAT('%',#{text},'%')
      OR `URL` LIKE CONCAT('%',#{text},'%')
      OR (
      `ID` IN (SELECT `PARENT_ID` FROM `t_function` WHERE
      `NAME` LIKE CONCAT('%',#{text},'%')
      OR `TITLE` LIKE CONCAT('%',#{text},'%')
      OR `URL` LIKE CONCAT('%',#{text},'%'))
      )
      )
    </if>
  </select>

  <select id="deleteAble" parameterType="java.lang.String" resultType="java.lang.Boolean">
    <![CDATA[
        SELECT IF(CONVERT(GROUP_CONCAT(`res` SEPARATOR ''),SIGNED)>=1,0,1) AS res
        FROM (
            SELECT IF(COUNT(`ID`)>=1,1,0) AS res FROM `t_function` WHERE `ID` IN (SELECT DISTINCT(PARENT_ID) FROM `t_function` WHERE `PARENT_ID` IS NOT NULL) AND `ID`=#{id}
            UNION
            SELECT IF(COUNT(`FUNCTION_ID`)>=1,1,0) AS res FROM `t_role_function` WHERE `FUNCTION_ID`=#{id}
            ) AS temp
    ]]>
  </select>
</mapper>
