<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.GuestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.Guest">
        <id column="ID" property="id" />
        <result column="GUEST_ID" property="guestId" />
        <result column="SOURCE_TYPE" property="sourceType" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="LAST_ACTIVE_TIME" property="lastActiveTime" />
        <result column="EXT_INFO" property="extInfo" />
        <result column="MEMBER_ID" property="memberId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`GUEST_ID`          ,`SOURCE_TYPE`          ,`CREATE_TIME`          ,`LAST_ACTIVE_TIME`          ,`EXT_INFO`          ,`MEMBER_ID`
    </sql>

</mapper>
