<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.LocationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.Location">
        <id column="CODE" property="code" />
        <result column="NAME" property="name" />
        <result column="PCODE" property="pcode" />
        <result column="LEVEL" property="level" />
        <result column="DISABLED" property="disabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `CODE`          ,`NAME`          ,`PCODE`          ,`LEVEL`          ,`DISABLED`
    </sql>

    <select id="findCodeByName" parameterType="map" resultMap="BaseResultMap">
      select t.*  from t_location t where 1=1
      <if test="params != null">
        <if test="params.name != null and params.name != ''">
          AND t.`NAME` LIKE CONCAT('%',#{params.name},'%')
        </if>
        <if test="params.level != null ">
          AND t.`LEVEL` =#{params.level}
        </if>
        <if test="params.id != null and params.id != ''">
          AND CONCAT(t.`CODE`) LIKE CONCAT('%',#{params.id},'%')
        </if>
      </if>
      limit 1
    </select>

</mapper>
