<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.MemberPaperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.MemberPaper">
        <id column="ID" property="id" />
        <result column="PAPER_ID" property="paperId" />
        <result column="MEMBER_ID" property="memberId" />
        <result column="VALIDATE_STATE" property="validateState" />
        <result column="VALIDATOR_ID" property="validatorId" />
        <result column="VALIDATE_TIME" property="validateTime" />
        <result column="VALIDATE_TEXT" property="validateText" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`PAPER_ID`          ,`MEMBER_ID`          ,`VALIDATE_STATE`          ,`VALIDATOR_ID`          ,`VALIDATE_TIME`          ,`VALIDATE_TEXT`          ,`CREATE_TIME`          ,`UPDATE_TIME`
    </sql>

    <resultMap id="memberPaperVo" type="com.ljwm.gecko.base.model.vo.MemberPaperVo" extends="BaseResultMap">
      <association property="paperVo" column="PAPER_ID" select="com.ljwm.gecko.base.mapper.PaperMapper.findPaperVoByPaperId"/>

      <collection property="paperPathVoList" column="ID" select="com.ljwm.gecko.base.mapper.PaperPathMapper.findByMemberPaperId"/>
    </resultMap>

    <select id="findMemberPaperVoListByMemberId" parameterType="long" resultMap="memberPaperVo">
      select  tmp.*  from t_member tm,t_member_paper tmp WHERE tm.ID=#{memberId} and tm.ID=tmp.MEMBER_ID and tm.VERSION=tmp.VERSION
    </select>

    <select id="findCheckedMemberPaperVoListByMemberId" parameterType="long" resultMap="memberPaperVo">
      select  tmp.*  from t_member tm,t_member_paper tmp WHERE tm.ID=#{memberId} and tmp.VALIDATE_STATE=2 and tm.ID=tmp.MEMBER_ID and tm.VERSION=tmp.VERSION
    </select>

</mapper>
