<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.Member">
        <id column="ID" property="id" />
        <result column="REG_MOBILE" property="regMobile" />
        <result column="NICK_NAME" property="nickName" />
        <result column="NAME" property="name" />
        <result column="AVATAR_PATH" property="avatarPath" />
        <result column="MEMBER_IDCARD" property="memberIdcard" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="DISABLED" property="disabled" />
        <result column="VALIDATE_STATE" property="validateState" />
        <result column="PIC_FRONT" property="picFront" />
        <result column="PIC_BACK" property="picBack" />
        <result column="PIC_PASSPORT" property="picPassport" />
        <result column="VERSION" property="version" />
        <result column="INFO_VALIDATE_STATE" property="infoValidateState" />
        <result column="VALIDATOR_ID" property="validatorId" />
        <result column="VALIDATE_TEXT" property="validateText" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`REG_MOBILE`          ,`NICK_NAME`          ,`NAME`          ,`AVATAR_PATH`          ,`MEMBER_IDCARD`          ,`CREATE_TIME`          ,`DISABLED`          ,`VALIDATE_STATE`          ,`PIC_FRONT`          ,`PIC_BACK`          ,`PIC_PASSPORT`          ,`VERSION`          ,`INFO_VALIDATE_STATE`          ,`VALIDATOR_ID`          ,`VALIDATE_TEXT`
    </sql>

  <resultMap id="BaseMap" type="com.ljwm.gecko.base.model.vo.MemberVo">
    <id column="ID" property="id"/>
    <result column="REG_MOBILE" property="regMobile"/>
    <result column="NICK_NAME" property="nickName"/>
    <result column="CREATE_TIME" property="createTime"/>
    <result column="DISABLED" property="disabled"/>
    <collection property="account" resultMap="AccountMap"/>
  </resultMap>

  <resultMap id="MemberInfo" type="com.ljwm.gecko.base.model.vo.MemberInfo">
    <id column="ID" property="id"/>
    <result column="REG_MOBILE" property="regMobile"/>
    <result column="NICK_NAME" property="nickName"/>
    <result column="CREATE_TIME" property="createTime"/>
    <result column="DISABLED" property="disabled"/>
    <collection property="account" resultMap="AccountInfo"/>
  </resultMap>

  <resultMap id="AccountInfo" type="com.ljwm.gecko.base.entity.MemberAccount">
    <id column="ID" property="id"/>
    <result column="USERNAME" property="username"/>
    <result column="TYPE" property="type"/>
    <result column="MEMBER_ID" property="memberId"/>
    <result column="PASSWORD_ID" property="passwordId"/>
    <result column="EXT_INFO" property="extInfo"/>
  </resultMap>

  <resultMap id="AccountMap" type="com.ljwm.gecko.base.model.vo.AccountVo">
    <id column="ID" property="id"/>
    <result column="USERNAME" property="username"/>
    <result column="TYPE" property="type"/>
    <result column="MEMBER_ID" property="memberId"/>
    <result column="PASSWORD_ID" property="passwordId"/>
    <result column="EXT_INFO" property="extInfo"/>
    <collection property="password" resultMap="PasswordMap"/>
  </resultMap>

  <resultMap id="PasswordMap" type="com.ljwm.gecko.base.entity.MemberPassword">
    <id column="ID" property="id"/>
    <result column="PASSWORD" property="password"/>
    <result column="SALT" property="salt"/>
    <result column="LAST_MODIFY_TIME" property="lastModifyTime"/>
  </resultMap>


  <resultMap id="MemberVo" type="com.ljwm.gecko.base.model.vo.MemberVo" extends="BaseResultMap">
    <association property="naturalPerson" column="ID" select="com.ljwm.gecko.base.mapper.NaturalPersonMapper.findById"/>
    <collection property="memberAccounts" column="ID"
                select="com.ljwm.gecko.base.mapper.MemberAccountMapper.findByMember"/>
    <collection property="memberPaperVoList" column="ID"
                select="com.ljwm.gecko.base.mapper.MemberPaperMapper.findMemberPaperVoListByMemberId"/>
  </resultMap>

  <select id="find" resultMap="MemberVo" parameterType="java.util.Map">
    SELECT
    <include refid="Base_Column_List"/>
    FROM `t_member`
    <where>
      <if test="params.text != null and params.text != ''">
        AND (
        `REG_MOBILE` LIKE CONCAT('%',#{params.text},'%')
        OR `NICK_NAME` LIKE CONCAT('%',#{params.text},'%')
        )
      </if>
    </where>
    ORDER BY `CREATE_TIME`
    <if test="params.asc">
      ASC
    </if>
    <if test="!params.asc">
      DESC
    </if>
  </select>

  <select id="findMemberVoByPhone" parameterType="string" resultMap="MemberVo">
    select t.*  from t_member t where t.REG_MOBILE=#{regMobile}
  </select>

  <select id="findByPage" parameterType="map" resultMap="MemberVo">
    SELECT t.* FROM t_member t
    <where>
      <if test="params.text != null and params.text != ''">
        AND (
        t.`REG_MOBILE` LIKE CONCAT('%',#{params.text},'%')
        OR t.`NICK_NAME` LIKE CONCAT('%',#{params.text},'%')
        OR t.`MEMBER_IDCARD` LIKE CONCAT('%',#{params.text},'%')
        )
      </if>
      <if test="params.disabled != null ">
        AND t.`DISABLED` = #{params.disabled}
      </if>
      <if test="params.validateState != null ">
        AND t.`VALIDATE_STATE` = #{params.validateState}
      </if>
      <if test="params.infoValidateState != null ">
        or t.`INFO_VALIDATE_STATE` = #{params.infoValidateState}
      </if>
    </where>
    ORDER BY t.ID
    <if test="params.asc">
      ASC
    </if>
    <if test="!params.asc">
      DESC
    </if>
  </select>

  <select id="findMemberVoByMemberId" parameterType="long" resultMap="MemberVo">
    select *  from t_member where MEMBER_ID=#{memberId}
  </select>

  <resultMap id="memberCheckVo" type="com.ljwm.gecko.base.model.vo.MemberVo" extends="BaseResultMap">
    <collection property="memberPaperVoList" column="ID"
                select="com.ljwm.gecko.base.mapper.MemberPaperMapper.findCheckedMemberPaperVoListByMemberId"/>
  </resultMap>

  <select id="findMemberVoListByProviderId" parameterType="long" resultMap="memberCheckVo">
    SELECT DISTINCT t.* FROM t_member t where t.ID IN ( SELECT DISTINCT tpu.MEMBER_ID  FROM t_provider tp, t_provider_user tpu  WHERE  tp.ID = tpu.PROVIDER_ID  AND tp.ID = #{providerId})
  </select>

  <resultMap id="memberSimpleVo" type="com.ljwm.gecko.base.model.vo.MemberSimpleVo" extends="BaseResultMap">

  </resultMap>

  <select id="findMemberSimpleByProviderId" parameterType="long" resultMap="memberSimpleVo">
    SELECT DISTINCT t.* FROM t_member t where t.ID IN ( SELECT DISTINCT tpu.MEMBER_ID  FROM t_provider tp, t_provider_user tpu  WHERE  tp.ID = tpu.PROVIDER_ID  AND tp.ID = #{providerId})
  </select>

</mapper>
