<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.OrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.OrderItem">
        <id column="ID" property="id" />
        <result column="ORDER_NO" property="orderNo" />
        <result column="SERVICE_ID" property="serviceId" />
        <result column="GOOD_ID" property="goodId" />
        <result column="CURRENT_UNIT_PRICE" property="currentUnitPrice" />
        <result column="QUANTITY" property="quantity" />
        <result column="TOTAL_PRICE" property="totalPrice" />
        <result column="SERVICE_CONTENT" property="serviceContent" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="ORDER_ITEM_NO" property="orderItemNo" />
        <result column="ORDER_ITEM_STATUS" property="orderItemStatus" />
        <result column="PROVIDER_ID" property="providerId" />
        <result column="DOWN_PAYMENT_RATE" property="downPaymentRate" />
        <result column="DOWN_PAYMENT_AMOUNT" property="downPaymentAmount" />
        <result column="REMAIN_AMOUNT" property="remainAmount" />
        <result column="MEMBER_ID" property="memberId" />
        <result column="SPEC_SERVICE_ID" property="specServiceId" />
        <result column="SERVICE_NAME" property="serviceName" />
        <result column="MIN_MONEY" property="minMoney" />
        <result column="PROVIDER_CONTENT" property="providerContent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`ORDER_NO`          ,`SERVICE_ID`          ,`GOOD_ID`          ,`CURRENT_UNIT_PRICE`          ,`QUANTITY`          ,`TOTAL_PRICE`          ,`SERVICE_CONTENT`          ,`CREATE_TIME`          ,`UPDATE_TIME`          ,`ORDER_ITEM_NO`          ,`ORDER_ITEM_STATUS`          ,`PROVIDER_ID`          ,`DOWN_PAYMENT_RATE`          ,`DOWN_PAYMENT_AMOUNT`          ,`REMIAN_AMOUNT`          ,`MEMBER_ID`
    </sql>

    <resultMap id="orderItemVo" type="com.ljwm.gecko.base.model.vo.OrderItemVo" extends="BaseResultMap">
        <association property="orderSimpleVo" column="ORDER_NO" select="com.ljwm.gecko.base.mapper.OrderMapper.findOrderSimpleByOrderNo" notNullColumn="ORDER_NO"/>
        <association property="providerSimpleVo" column="PROVIDER_ID" select="com.ljwm.gecko.base.mapper.ProviderMapper.findProviderSimpleVoById"/>
        <association property="specServicesPriceSimpleVo" column="SPEC_SERVICE_ID" select="com.ljwm.gecko.base.mapper.SpecServicesPriceMapper.findById" notNullColumn="SPEC_SERVICE_ID"/>
    </resultMap>

    <select id="findByOrderItemNo" parameterType="string" resultMap="BaseResultMap">
      select *  from t_order_item where order_no_item=#{orderItemNo}
    </select>

    <select id="findProviderOrderItemVoList" parameterType="map" resultMap="orderItemVo">
      select t.*  from t_order_item t where t.ORDER_NO=#{orderNo} and t.PROVIDER_ID=#{providerId}
    </select>

    <select id="findOrderItemVoList" parameterType="string" resultMap="orderItemVo">
      select t.*  from t_order_item t where t.ORDER_NO=#{orderNo}
    </select>

    <select id="findOrderItemList" parameterType="map" resultMap="orderItemVo">
      select t.*  from t_order_item t
      <where>
        <if test="params.status != null ">
          AND t.`ORDER_ITEM_STATUS` = #{params.status}
        </if>
        <if test="params.memberId != null ">
          AND t.`MEMBER_ID` = #{params.memberId}
        </if>
        <if test="params.providerId != null ">
          AND t.`PROVIDER_ID` = #{params.providerId}
        </if>
      </where>
      ORDER BY t.CREATE_TIME
      <if test="params.asc">
        ASC
      </if>
      <if test="!params.asc">
        DESC
      </if>
    </select>
</mapper>
