<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.OrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.OrderItem">
        <id column="ID" property="id" />
        <result column="ORDER_NO" property="orderNo" />
        <result column="SERVICE_ID" property="serviceId" />
        <result column="GOOD_ID" property="goodId" />
        <result column="CURRENT_UNIT_PRICE" property="currentUnitPrice" />
        <result column="QUANTITY" property="quantity" />
        <result column="TOTAL_PRICE" property="totalPrice" />
        <result column="SERVICE_CONTENT" property="serviceContent" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="ORDER_ITEM_NO" property="orderItemNo" />
        <result column="ORDER_ITEM_STATUS" property="orderItemStatus" />
        <result column="PROVIDER_ID" property="providerId" />
        <result column="DOWN_PAYMENT_RATE" property="downPaymentRate" />
        <result column="DOWN_PAYMENT_AMOUNT" property="downPaymentAmount" />
        <result column="REMIAN_AMOUNT" property="remianAmount" />
        <result column="MEMBER_ID" property="memberId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`ORDER_NO`          ,`SERVICE_ID`          ,`GOOD_ID`          ,`CURRENT_UNIT_PRICE`          ,`QUANTITY`          ,`TOTAL_PRICE`          ,`SERVICE_CONTENT`          ,`CREATE_TIME`          ,`UPDATE_TIME`          ,`ORDER_ITEM_NO`          ,`ORDER_ITEM_STATUS`          ,`PROVIDER_ID`          ,`DOWN_PAYMENT_RATE`          ,`DOWN_PAYMENT_AMOUNT`          ,`REMIAN_AMOUNT`          ,`MEMBER_ID`
    </sql>

    <resultMap id="orderItemVo" type="com.ljwm.gecko.base.model.vo.OrderItemVo" extends="BaseResultMap">

    </resultMap>

    <select id="findByOrderItemNo" parameterType="string" resultMap="BaseResultMap">
      select *  from t_order_item where order_no_item=#{orderItemNo}
    </select>

    <select id="findProviderOrderItemVoList" parameterType="map" resultMap="orderItemVo">
      select t.*  from t_order_item t where t.ORDER_NO=#{orderNo} and t.PROVIDER_ID=#{providerId}
    </select>

    <select id="findOrderItemVoList" parameterType="string" resultMap="orderItemVo">
      select t.*  from t_order_item t where t.ORDER_NO=#{orderNo}
    </select>
</mapper>
