<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.OrderCommentsPathMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.OrderCommentsPath">
        <id column="ID" property="id" />
        <result column="COMMENT_ID" property="commentId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="PIC_PATH" property="picPath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`COMMENT_ID`          ,`CREATE_TIME`          ,`PIC_PATH`
    </sql>

</mapper>
