<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.OrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.OrderItem">
        <id column="id" property="id" />
        <result column="member_id" property="memberId" />
        <result column="order_no" property="orderNo" />
        <result column="service_id" property="serviceId" />
        <result column="product_service_id" property="productServiceId" />
        <result column="service_name" property="serviceName" />
        <result column="service_image" property="serviceImage" />
        <result column="current_unit_price" property="currentUnitPrice" />
        <result column="quantity" property="quantity" />
        <result column="total_price" property="totalPrice" />
        <result column="service_content" property="serviceContent" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="order_item_no" property="orderItemNo" />
        <result column="order_item_status" property="orderItemStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `id`          ,`member_id`          ,`order_no`          ,`service_id`          ,`product_service_id`          ,`service_name`          ,`service_image`          ,`current_unit_price`          ,`quantity`          ,`total_price`          ,`service_content`          ,`create_time`          ,`update_time`          ,`order_item_no`          ,`order_item_status`
    </sql>

    <select id="findByOrderItemNo" parameterType="string" resultMap="BaseResultMap">
      select *  from t_order_item where order_item_no=#{orderItemNo}
    </select>

</mapper>
