<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.PaperPathMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.PaperPath">
        <id column="ID" property="id" />
        <result column="MEMBER_PAPER_ID" property="memberPaperId" />
        <result column="PIC_PATH" property="picPath" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`MEMBER_PAPER_ID`          ,`PIC_PATH`          ,`CREATE_TIME`          ,`UPDATE_TIME`
    </sql>

    <delete id="delete" parameterType="long">
      delete from t_paper_path where MEMBER_PAPER_ID=#{memberPaperId}
    </delete>

</mapper>
