<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.ProviderMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.Provider">
    <id column="ID" property="id"/>
    <result column="NAME" property="name"/>
    <result column="CREATE_TIME" property="createTime"/>
    <result column="VALIDATE_STATE" property="validateState"/>
    <result column="DISABLED" property="disabled"/>
    <result column="TYPE" property="type"/>
    <result column="CREATOR_ID" property="creatorId"/>
    <result column="VALIDATOR_ID" property="validatorId"/>
    <result column="VALIDATE_TIME" property="validateTime"/>
    <result column="UPDATE_TIME" property="updateTime"/>
    <result column="VALIDATE_TEXT" property="validateText"/>
    <result column="PROV_CODE" property="provCode"/>
    <result column="CITY_CODE" property="cityCode"/>
    <result column="AREA_CODE" property="areaCode"/>
    <result column="ADDRESS" property="address"/>
    <result column="PIC_PATH" property="picPath"/>
    <result column="VERSION" property="version"/>
    <result column="LOGO" property="logo"/>
    <result column="INSTRO" property="instro"/>
    <result column="INFO_VALIDATE_STATE" property="infoValidateState"/>
    <result column="CASH_DEPOSIT" property="cashDeposit"/>
    <result column="DETAIL" property="detail"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
          `ID`          ,`NAME`          ,`CREATE_TIME`          ,`VALIDATE_STATE`          ,`DISABLED`          ,`TYPE`          ,`CREATOR_ID`          ,`VALIDATOR_ID`          ,`VALIDATE_TIME`          ,`UPDATE_TIME`          ,`VALIDATE_TEXT`          ,`PROV_CODE`          ,`CITY_CODE`          ,`AREA_CODE`          ,`ADDRESS`          ,`PIC_PATH`          ,`VERSION`          ,`LOGO`          ,`INSTRO`          ,`INFO_VALIDATE_STATE`          ,`CASH_DEPOSIT`
    </sql>


  <resultMap id="providerVo" type="com.ljwm.gecko.base.model.vo.ProviderVo" extends="BaseResultMap">
    <association property="orderCount" column="ID" select="com.ljwm.gecko.base.mapper.OrderMapper.findProviderOrderCount"/>
    <association property="locationStr" column="AREA_CODE"
                 select="com.ljwm.gecko.base.mapper.LocationMapper.getLocationByArea"/>
    <collection property="providerServicesVoList" column="ID"
                select="com.ljwm.gecko.base.mapper.ProviderServicesMapper.findProviderServicesVoListByProviderId"/>
    <collection property="paperVoList" column="ID"
                select="com.ljwm.gecko.base.mapper.PaperMapper.findPaperVoListByProviderId"/>
    <collection property="memberVoList" column="ID"
                select="com.ljwm.gecko.base.mapper.MemberMapper.findMemberVoListByProviderId"/>
  </resultMap>
  <select id="findByPage" parameterType="map" resultMap="providerVo">
    SELECT DISTINCT tp.* from t_provider tp,t_provider_services tps
    <where>
      tp.ID=tps.PROVIDER_ID and tp.VERSION = tps.VERSION
      <if test="params.text != null and params.text != ''">
        AND (
        tp.`NAME` LIKE CONCAT('%',#{params.text},'%')
        )
      </if>
      <if test="params.disabled != null ">
        AND tp.`DISABLED` = #{params.disabled}
      </if>
      <if test="params.validateState != null ">
        AND tp.`VALIDATE_STATE` = #{params.validateState}
      </if>
      <if test="params.serviceId != null ">
        AND tps.`SERVICE_ID` = #{params.serviceId}
      </if>
      <if test="params.infoValidateState != null ">
        or tp.`INFO_VALIDATE_STATE` = #{params.infoValidateState}
      </if>
    </where>
    ORDER BY tp.ID
    <if test="params.asc">
      ASC
    </if>
    <if test="!params.asc">
      DESC
    </if>
  </select>

  <select id="findById" parameterType="long" resultMap="providerVo">
    select *   from  t_provider where id=#{id}
  </select>

  <select id="findProviderByMemberId" parameterType="long" resultMap="providerVo">
    select t.*  from t_provider t where t.CREATOR_ID =#{memberId}
  </select>

  <resultMap id="providerSimple" type="com.ljwm.gecko.base.model.vo.ProviderSimpleVo">
    <id column="ID" property="id"/>
    <result column="NAME" property="name"/>
    <result column="TYPE" property="type"/>
    <result column="PROV_CODE" property="provCode"/>
    <result column="CITY_CODE" property="cityCode"/>
    <result column="AREA_CODE" property="areaCode"/>
    <result column="ADDRESS" property="address"/>
    <result column="PIC_PATH" property="picPath"/>
    <result column="LOGO" property="logo"/>
    <result column="CASH_DEPOSIT" property="cashDeposit"/>
    <association property="orderCount" column="ID" select="com.ljwm.gecko.base.mapper.OrderMapper.findProviderOrderCount"/>
    <association property="locationStr" column="AREA_CODE"
                 select="com.ljwm.gecko.base.mapper.LocationMapper.getLocationByArea"/>
    <collection property="providerServicesVoList" column="ID"
                select="com.ljwm.gecko.base.mapper.ProviderServicesMapper.findClienProviderServicesListByProviderId"/>
  </resultMap>

  <select id="findProviderSimpleVoByMemberId" parameterType="long" resultMap="providerSimple">
    select t.*  from t_provider t where t.CREATOR_ID =#{memberId} limit 1
  </select>

  <select id="findProviderByProviderId" parameterType="long" resultMap="providerVo">
    select t.*  from t_provider t where t.ID =#{providerId} limit 1
  </select>

  <select id="findProviderSimpleVoById" parameterType="long" resultMap="providerSimple">
    select t.*  from t_provider t where t.ID =#{providerId} limit 1
  </select>

  <select id="findClientByPage" parameterType="map" resultMap="providerSimple">
    SELECT DISTINCT tp.* from t_provider tp,t_provider_services tps
    <where>
      tp.ID=tps.PROVIDER_ID and tp.VERSION = tps.VERSION
      and tps.VALIDATE_STATE =2
      <if test="params.text != null and params.text != ''">
        AND (
        tp.`NAME` LIKE CONCAT('%',#{params.text},'%')
        )
      </if>
      <if test="params.disabled != null ">
        AND tp.`DISABLED` = #{params.disabled}
      </if>
      <if test="params.validateState != null ">
        AND tp.`VALIDATE_STATE` = #{params.validateState}
      </if>
      <if test="params.serviceId != null ">
        AND tps.`SERVICE_ID` = #{params.serviceId}
      </if>
    </where>
    ORDER BY tp.ID
    <if test="params.asc">
      ASC
    </if>
    <if test="!params.asc">
      DESC
    </if>
  </select>

  <select id="findProviderListByMemberId" parameterType="long" resultMap="providerVo">
    select DISTINCT t.*  from t_provider t,t_provider_user tpu where t.ID=tpu.PROVIDER_ID and tpu.MEMBER_ID=#{memberId}
  </select>

</mapper>
