<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.ProviderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.Provider">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="VALIDATE_STATE" property="validateState" />
        <result column="DISABLED" property="disabled" />
        <result column="TYPE" property="type" />
        <result column="CREATOR_ID" property="creatorId" />
        <result column="VALIDATOR_ID" property="validatorId" />
        <result column="VALIDATE_TIME" property="validateTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="VALIDATE_TEXT" property="validateText" />
        <result column="PROV_CODE" property="provCode" />
        <result column="CITY_CODE" property="cityCode" />
        <result column="AREA_CODE" property="areaCode" />
        <result column="ADDRESS" property="address" />
        <result column="PIC_PATH" property="picPath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`NAME`          ,`CREATE_TIME`          ,`VALIDATE_STATE`          ,`DISABLED`          ,`TYPE`          ,`CREATOR_ID`          ,`VALIDATOR_ID`          ,`VALIDATE_TIME`          ,`UPDATE_TIME`          ,`VALIDATE_TEXT`          ,`PROV_CODE`          ,`CITY_CODE`          ,`AREA_CODE`          ,`ADDRESS` ,`PIC_PATH`
    </sql>

    <resultMap id="providerVo" type="com.ljwm.gecko.base.model.vo.ProviderVo" extends="BaseResultMap">
        <collection property="providerServicesVoList" column="ID" select="com.ljwm.gecko.base.mapper.ProviderServicesMapper.findProviderServicesVoListByProviderId"/>
        <collection property="memberPaperVoList" column="ID" select="com.ljwm.gecko.base.mapper.MemberPaperMapper.findMemberPaperVoByProviderId"/>
        <collection property="memberVoList" column="ID" select="com.ljwm.gecko.base.mapper.MemberMapper.findMemberVoListByProviderId"/>
    </resultMap>
    <select id="findByPage" parameterType="map" resultMap="providerVo">
        select t.*  from t_provider t
      <where>
        <if test="params.text != null and params.text != ''">
          AND (
          t.`NAME` LIKE CONCAT('%',#{params.text},'%')
          )
        </if>
        <if test="params.disabled != null ">
          AND t.`DISABLED` = #{params.disabled}
        </if>
        <if test="params.validateState != null ">
          AND t.`VALIDATE_STATE` = #{params.validateState}
        </if>
      </where>
      ORDER BY t.ID
      <if test="params.asc">
        ASC
      </if>
      <if test="!params.asc">
        DESC
      </if>
    </select>

    <select id="findById" parameterType="long" resultMap="providerVo">
      select *   from  t_provider where id=#{id}
    </select>

</mapper>
