<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.ProviderServicesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.ProviderServices">
        <id column="ID" property="id" />
        <result column="SERVICE_ID" property="serviceId" />
        <result column="PROVIDER_ID" property="providerId" />
        <result column="VALIDATE_STATE" property="validateState" />
        <result column="VALIDATOR_ID" property="validatorId" />
        <result column="VALIDATE_TIME" property="validateTime" />
        <result column="VALIDATE_TEXT" property="validateText" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`SERVICE_ID`          ,`PROVIDER_ID`          ,`VALIDATE_STATE`          ,`VALIDATOR_ID`          ,`VALIDATE_TIME`          ,`VALIDATE_TEXT`          ,`CREATE_TIME`          ,`UPDATE_TIME`
    </sql>

    <resultMap id="providerServicesVo" type="com.ljwm.gecko.base.model.vo.ProviderServicesVo" extends="BaseResultMap">
        <association property="serveSimpleVo" column="SERVICE_ID" select="com.ljwm.gecko.base.mapper.ServiceTypeMapper.findById"/>
    </resultMap>

    <resultMap id="providerDetailServicesVo" type="com.ljwm.gecko.base.model.vo.ProviderServicesVo" extends="BaseResultMap">
      <association property="serveSimpleVo" column="SERVICE_ID" select="com.ljwm.gecko.base.mapper.ServiceTypeMapper.findById"/>
      <collection property="specServicesPriceSimpleVoList" column="{serviceId=SERVICE_ID,providerId=providerId}" select="com.ljwm.gecko.base.mapper.SpecServicesPriceMapper.findByServiceIdAndProviderId"/>
    </resultMap>

    <select id="findProviderServicesVoListByProviderId" parameterType="long" resultMap="providerServicesVo">
      SELECT DISTINCT tps.*  from t_provider tp,t_provider_services tps where tp.ID=#{providerId} and  tp.ID=tps.PROVIDER_ID and tp.VERSION = tps.VERSION
    </select>

    <select id="findProviderServicesDetailVoListByProviderId" parameterType="long" resultMap="providerDetailServicesVo">
      SELECT DISTINCT tps.* ,#{providerId} AS `providerId`  from t_provider tp,t_provider_services tps where tp.ID=#{providerId} and  tp.ID=tps.PROVIDER_ID and tp.VERSION = tps.VERSION
    </select>

    <resultMap id="providerServicesSimpleVo" type="com.ljwm.gecko.base.model.vo.ProviderServicesSimpleVo">
      <id column="ID" property="id" />
      <result column="SERVICE_ID" property="serviceId" />
      <result column="NAME" property="name" />
    </resultMap>

    <select id="findClienProviderServicesListByProviderId" resultType="long" resultMap="providerServicesSimpleVo">
      SELECT DISTINCT
      tps.*, tst.`NAME`
      FROM
      t_provider tp,
      t_provider_services tps,
      t_service_type tst
      WHERE
      tps.SERVICE_ID = tst.ID
      AND tp.ID = tps.PROVIDER_ID
      AND tp.VERSION = tps.VERSION
      AND tps.VALIDATE_STATE = 2
      AND tp.ID = #{providerId}
    </select>
</mapper>
