<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.ServiceTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.ServiceType">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="PID" property="pid" />
        <result column="LEVEL" property="level" />
        <result column="DISABLED" property="disabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`NAME`          ,`PID`          ,`LEVEL`          ,`DISABLED`
    </sql>

  <resultMap id="serviceVo" type="com.ljwm.gecko.base.model.vo.ServiceVo" extends="BaseResultMap">
    <collection property="children" column="ID" select="com.ljwm.gecko.base.mapper.ServiceTypeMapper.children"/>
  </resultMap>
  <select id="find" resultMap="serviceVo">
    select *  from t_service_type where t.PID is null
  </select>

  <select id="children" parameterType="integer" resultMap="serviceVo">
    select *  from t_service_type where t.PID=#{pId}
  </select>
  <resultMap id="serverSimpleVo" type="com.ljwm.gecko.base.model.vo.ServeSimpleVo" extends="BaseResultMap">

  </resultMap>

  <select id="findById" parameterType="integer" resultMap="serverSimpleVo">
      select *  from t_service_type where id=#{id} limit 1
  </select>

</mapper>
