<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.base.mapper.SpecServicesPriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.SpecServicesPrice">
        <id column="ID" property="id" />
        <result column="KEY" property="key" />
        <result column="KEY_NAME" property="keyName" />
        <result column="PRICE" property="price" />
        <result column="DOWN_PAYMENT_RATE" property="downPaymentRate" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="PROVIDER_ID" property="providerId" />
        <result column="DISABLED" property="disabled" />
        <result column="GOOD_ID" property="goodId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`KEY`          ,`KEY_NAME`          ,`PRICE`          ,`DOWN_PAYMENT_RATE`          ,`CREATE_TIME`          ,`PROVIDER_ID`          ,`DISABLED`          ,`GOOD_ID`
    </sql>

    <resultMap id="specServicesPriceSimpleVo" type="com.ljwm.gecko.base.model.vo.SpecServicesPriceSimpleVo" extends="BaseResultMap">

    </resultMap>

    <select id="findByMap" parameterType="map" resultMap="specServicesPriceSimpleVo">
      select t.*  from t_spec_services_price t
      <where>
        <if test="params.key != null and params.key != ''">
          AND t.`KEY`=#{params.key}
        </if>
        <if test="params.id != null ">
          <![CDATA[
          AND t.`ID` !=#{params.id}
        ]]>
        </if>
        <if test="params.providerId != null ">
          AND t.`PROVIDER_ID` =#{params.providerId}
        </if>
        <if test="params.goodId != null ">
          AND t.`GOOD_ID` =#{params.goodId}
        </if>
        <if test="params.serviceId != null ">
          AND t.`SERVICE_ID` =#{params.serviceId}
        </if>
      </where>
    </select>

    <select id="find" parameterType="map" resultMap="specServicesPriceSimpleVo">
      select t.*  from t_spec_services_price t
      <where>
        <if test="params.providerId != null ">
          AND t.`PROVIDER_ID` =#{params.providerId}
        </if>
        <if test="params.goodId != null ">
          AND t.`GOOD_ID` =#{params.goodId}
        </if>
        <if test="params.serviceId != null ">
          AND t.`SERVICE_ID` =#{params.serviceId}
        </if>
      </where>
    </select>

    <select id="findById" parameterType="long" resultMap="specServicesPriceSimpleVo">
      select t.* from t_spec_services_price t where t.ID=#{id}
    </select>

    <select id="findByServiceIdAndProviderId" parameterType="map" resultMap="specServicesPriceSimpleVo">
      select t.* from t_spec_services_price t where t.SERVICE_ID=#{serviceId} and t.PROVIDER_ID=#{providerId}
    </select>

    <select id="findListByMap" parameterType="map" resultMap="BaseResultMap">
      select t.* from t_spec_services_price t where t.SERVICE_ID=#{params.serviceId} and t.PROVIDER_ID=#{params.providerId}
    </select>

</mapper>
