<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljwm.gecko.admin.mapper.AdminTaxSpecialAddMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljwm.gecko.base.entity.TaxSpecialAdd">
        <id column="ID" property="id" />
        <result column="TAX_ID" property="taxId" />
        <result column="SPECIAL_ADD_ID" property="specialAddId" />
        <result column="TAX_MONEY" property="taxMoney" />
        <result column="TAX_DOC_PATH" property="taxDocPath" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATER" property="updater" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          `ID`          ,`TAX_ID`          ,`SPECIAL_ADD_ID`          ,`TAX_MONEY`          ,`TAX_DOC_PATH`          ,`CREATE_TIME`          ,`UPDATE_TIME`          ,`UPDATER`
    </sql>

  <resultMap id="TaxSpecialAddVo" type="com.ljwm.gecko.admin.model.vo.TaxSpecialAddVo" extends="BaseResultMap">
    <association property="specialAdd" column="SPECIAL_ADD_ID"
                 select="com.ljwm.gecko.base.mapper.AddSpecialMapper.selectById"/>
  </resultMap>
</mapper>
